html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.task-true {
  color: #a6a6a6;
  text-decoration: line-through;
}

.edit {
  display: none;
}

li.editing .view {
  display: none;
}

li.editing .edit {
  display: block;
}


div#task_list {
  .ng-enter {
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
    opacity: 0;
    font-size:1em;
  }

  .ng-enter-active {
    opacity: 1;
    font-size:2em;
  }

  .ng-leave {
    -webkit-transition: 0.5s ease-out all;
    transition: 0.5s ease-out all;
  }

  .ng-leave-active {
    opacity: 0;  
    height:0px;
  }
}


div.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 700px;
  height: 100%;
  min-height: 100%;

  div#side-menu {
    width: 239px;
    min-width: 239px;
    /* padding: 0 12px; */
    background-color: #3B3A3E;
    z-index: 999;
    height: 100%;
    min-height: 100%;

    h1 {
      color: #D5D6D8;
      font-size: 160%;
      margin: 60px 0;
      padding-left: 15px;
    }

    ul {
      padding: 0;
      li {
        color: #D5D6D8;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        height: 60px;
        div {
          margin: auto 0;
        }
        div.menu-left-line {
          width: 7px;
          height: 100%;
        }
        div.menu-content {
          margin-left: 10px;
          i {
            margin-right: 10px;
          }
        }
        div.menu-notice {
        }
      }
    }
  }

  div#main-contents {
    background-color: #f8f8f8;
    width: 100%;
    min-width: 700px;
    height: 100%;
    min-height: 100%;

    section#new-task-area {
      padding: 25px 20px 15px;
      background: #fff;
      border-bottom: 1px solid #ccc;

      div#task-input-field {
        input {
          width: 70%;
          height: 45px;
          font-size: 21px;
          padding: 0 6px;
          outline: none;
          border-radius: 3px;
          border: 1.4px solid #ccc;
          margin-bottom: 5px;
        }
      }

      div#priority {
        span {
          font-size: 58%;
          color: #696969;
        }
        select {
          border: 1px solid #ccc;
          height: 23px;
        }
      }
    }

    section#task-list {
      padding: 20px;

      h3 {
        margin: 0;
        color: #454545;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      section {
        li {
          display: flex;
          flex-direction: row;
          border: 1px solid #ccc;
          background: #fff;
          margin-bottom: 10px;
          border-radius: 7px;

          div {
            text-align: center;
            border-right: 1px solid #ccc;
            padding: 7px 10px;
            &:last-child {
              border-right: none;
            }
          }

          div.task-status {
            width: 3%;
            line-height: 2.5;
          }

          div.task-favorite {
            width: 3%;
            line-height: 2.5;
            border-right: none;
            color: #ffbf00;
            i {
              cursor: pointer;
            }
          }

          div.task-name {
            width: 72%;
            font-weight: bold;
            text-align: left;
            div.view {
              text-align: left;
              border-right: none;
              padding: 0;
              display: flex;
              flex-direction: row;
              span.task-name-left {
                text-align: left;
                border-right: none;
                display: block;
                width: 94%;
              }
              span.task-name-right {
                display: block;
                width: 6%;
                text-align: center;
                margin: auto;
                cursor: pointer;
                i {
                  font-size: 120%;
                  color: #696969;
                  &:hover {
                    /* color: red; */
                    opacity: 0.8;
                  }
                }
              }
            }
            span {
              display: block;
            }
            span.task-createdat {
              font-size: 65%;
              color: #696969;
              font-weight: normal;
            } 
          }

          div.task-priority {
            width: 10%;
            span {
              display: block;
              width: 80%;
              padding: 2px 1px;
              font-size: 80%;
              border-radius: 3px;
              font-weight: bold;
              margin: 6px auto 0;
              color: #fff;
              border: 2px solid #888888;
              background: #b9b9b9;
            }
            span.priority-high {
              border: 2px solid #E35757;
              background: #E4605F;
            }
            span.priority-normal {
              /* border: 2px solid #0b9875; */
              border: 2px solid #0daf88;
              background: #0FC79A;
            }
            span.priority-low {
              border: 2px solid #2482ed;
              background: #4897F0;
            }
          }

          div.task-limit {
            width: 12%;
            line-height: 3;
            color: #696969;
            font-size: 90%;
          }
        }
      }

      section#active-task-list {
        margin-bottom: 40px;
      }

      section#closed-task-list {
        li {
          background: #ddd;
          opacity: 0.8;
          border: 1px solid #ccc;
        }
      }

      // アクティブタスク
      /* section#active-task-list, section#closed-task-list { */
        /* margin-bottom: 40px; */

        /* li.active-task, li.closed-task { */
          /* display: flex; */
          /* flex-direction: row; */
          /* border: 1px solid #ccc; */
          /* background: #fff; */
          /* margin-bottom: 10px; */

          /* div { */
            /* text-align: center; */
            /* border-right: 1px solid #ccc; */
            /* padding: 7px 10px; */
            /* &:last-child { */
              /* border-right: none; */
            /* } */
          /* } */

          /* div.task-status { */
            /* width: 3%; */
            /* line-height: 2.5; */
          /* } */

          /* div.task-favorite { */
            /* width: 3%; */
            /* line-height: 2.5; */
            /* border-right: none; */
            /* color: #ffbf00; */
          /* } */

          /* div.task-name { */
            /* width: 72%; */
            /* font-weight: bold; */
            /* text-align: left; */
            /* div.view { */
              /* text-align: left; */
              /* border-right: none; */
              /* padding: 0; */
            /* } */
            /* span { */
              /* display: block; */
            /* } */
            /* span.task-createdat { */
              /* font-size: 65%; */
              /* color: #696969; */
              /* font-weight: normal; */
            /* }  */
          /* } */

          /* div.task-priority { */
            /* width: 10%; */
            /* span { */
              /* display: block; */
              /* width: 80%; */
              /* padding: 2px 1px; */
              /* font-size: 80%; */
              /* border-radius: 3px; */
              /* font-weight: bold; */
              /* margin: 6px auto 0; */
              /* color: #fff; */
              /* border: 2px solid #888888; */
              /* background: #b9b9b9; */
            /* } */
            /* span.priority-high { */
              /* border: 2px solid #E35757; */
              /* background: #E4605F; */
            /* } */
            /* span.priority-normal { */
              /* [> border: 2px solid #0b9875; <] */
              /* border: 2px solid #0daf88; */
              /* background: #0FC79A; */
            /* } */
            /* span.priority-low { */
              /* border: 2px solid #2482ed; */
              /* background: #4897F0; */
            /* } */
          /* } */

          /* div.task-limit { */
            /* width: 12%; */
            /* line-height: 3; */
            /* color: #696969; */
            /* font-size: 90%; */
          /* } */
        /* } */
      /* } */

      // クローズドタスク
      /* section#closed-task-list { li.closed-task { } } */

    }
  }
}
